# install

# Python 3.6.9 
Django == 3.0.8
Pillow==7.1.2
joblib==0.16.0
matplotlib==2.1.1
pyzbar==0.1.8
django-betterforms==1.2
django-crispy-forms==1.9.2
django-widget-tweaks==1.4.8
opencv-python==4.2.0.34
pandas
