{% extends 'base.html' %}
{% block title %}File type not supported{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
  <li class="breadcrumb-item"><a href="{% url 'product_jobs' apply.group.pk %}">Jobs</a></li>
  <li class="breadcrumb-item active">File not supported</li>
{% endblock %}

{% block content %}
  <div class="container p-3 my-3 bg-dark text-white">
      <div class="alert alert-danger">
          <strong>File not supported!</strong>Please upload a .jpg image formate <a href="{% url 'product_jobs' apply.group.pk %}">Upload again</a>
      </div>
  </div>
{% endblock %}